<!--suppress ES6CheckImport, JSUnusedGlobalSymbols -->
<template>
    <div>
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;" v-if="active.id">
                <div @click="active = {}" class="close-cart">X</div>
                <div class="card-body">
                    <b><h5 class="card-title">Название: {{active.name}}</h5></b>
                    <p class="card-text">Код: {{active.code}}</p>
                    <p class="card-text">Описание: {{active.description}}</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="search">Поиск</label>
            <input type="text" class="form-control" id="search" v-model="searchString" @change="search">
        </div>
        <div class="d-flex justify-content-end">
            <a @click="toggleRepresentation" class="btn btn-outline-info">Лейбл - {{view}}</a>
        </div>
        <MyLoader v-if="loading"></MyLoader>
        <div v-if="!loading">
            <h4 v-if="entries.length === 0">Ничего не найдено =(</h4>
            <v-treeview
                    :expand-icon="'arrow_right'"
                    :items="entries"
                    activatable
                    dense
                    hoverable
                    rounded
                    selection-type="independent">
                <template v-slot:label="{ item }">
                    <div @click="active = item">{{ item[view] }}</div>
                </template>
                <template v-slot:append="{ item, open }">
                    <v-icon @click="add(item)" class="my-icons">add_circle</v-icon>
                    <v-icon @click="edit(item)" class="my-icons">edit</v-icon>
                    <v-icon @click="deleteItem(item.id)" class="my-icons">delete</v-icon>
                </template>
            </v-treeview>
        </div>
    </div>
</template>

<script>
	import AddWindow from './AddWindow.vue';
	import MyLoader from './MyLoader.vue'

	export default {
		name: 'main-app',
		components: {
			MyLoader
		},
		data: function () {
			return {
				entries: [],
				searchString: '',
				loading: true,
				view: 'name',
				active: {}
			}
		},
		methods: {
			toggleRepresentation() {
				this.view = (this.view === 'code') ? 'name' : 'code';
			},
			getTree() {
				this.loading = true;
				axios.get('/get-all-entries-tree')
					.then((respose) => {
						this.entries = respose.data;
						this.loading = false;
					})
					.catch((error) => {
					});
			},
			search() {
				this.loading = true;
				if (this.searchString !== '') {
					axios.post('/search', {searchString: this.searchString})
						.then((respose) => {
							this.entries = respose.data;
							this.loading = false;
						})
						.catch((error) => {
						});
				} else {
					this.getTree();
				}
			},
			add(item) {
				this.$modal.show(AddWindow, {entry: item.id, act: 'add'}, {
					draggable: true,
					height: 'auto'
				})
			},
			log(item) {
				console.log(item)
			},
			edit(item) {
				this.$modal.show(AddWindow, {
					item: item,
					act: 'edit'
				}, {
					draggable: true,
					height: 'auto'
				})
			},
			deleteItem(id) {
				confirm('Точно удалить?');
				{
					axios.post('/delete', {id: id})
						.then((response) => {
							this.$notify({
								group: 'message',
								type: 'success',
								position: 'top left',
								title: response.data.title,
								text: response.data.text,
							});
							this.loading = false;
							this.$modal.hideAll();
							this.$root.$emit('reload');
						})
						.catch((error) => {
							let errorMess = '<ul>';
							if (error.response) {
								let arError = error.response.data.errors;
								for (let index in arError) {
									errorMess += '<li>';
									errorMess += arError[index].join('</li><li>');
								}
							} else if (error.request) {
								errorMess += error.request;
							} else {
								errorMess += error;
							}
							errorMess += '</li></ul>';
							this.$notify({
								group: 'message',
								type: 'error',
								position: 'top left',
								title: 'Ошибка',
								text: errorMess,
							});
							this.loading = false;
						});
				}
			}
		},
		mounted() {
			this.getTree();
			this.$root.$on('reload', () => {
				if (this.searchString === '') {
					this.getTree();
				} else {
					this.search();
				}
			});

		}
	}
</script>

<style>
    .v-treeview-node__toggle--open {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    .my-icons {
        font-size: 20px !important;
    }

    .close-cart {
        transform: rotate(-360deg);
        display: block;
        width: fit-content;
        position: absolute;
        right: 5px;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
    }

    .close-cart:hover {
        transform: rotate(360deg);
    }
</style>